<%- include('partials/_header')%>
<section id="navegacionmod">
    <ul>
        <h1>
            <li>
                <a href="/pantallaCiudadano">
                <img src="/images/v.svg" alt="logo">
                </a>
            </li>
            <li>
                <a href="/pantallaCiudadano">
                    Vialidolid<br>denuncias ciudadanas
                </a>
            </li>
        </h1>
        <div class="botonesmod">
            <li>
                <a href="/pantallaPerfilCiudadano/<%=session.id_ciudadano%>">Perfil</a>
            </li>
            <li>
                <a href="/pantallaMenuPrincipal">Cerrar Sesion</a>
            </li>
        </div>

    </ul>
</section>


<section id="contenidogeneral">
    <article>
        <div class="barralateral">
        <div class="botoneslateral">
     <h1>
        <span>
            <img src="/images/imagenperfil.svg">
            <p>Telefono: <%=session.telefono%></p>
            <p> <%=session.correo%></p>
        </span>
    </h1>

        <a href="/pantallaReporteCiudadano">
            Realizar reporte
        </a>

        <a href="/pantallaReporteRealizadoCiudadano">
            Reportes realizados
        </a>
    </div>
    </div>
    
    <section class="contenedorderecho">
    <div class="contenido">
        <div class="contenidomoderacion">
        <div class="formciudadano">
            
            <a class=flecharegresar href="/pantallaCiudadano" >
                <i class="fa-sharp fa-solid fa-arrow-left"></i>
            </a>
            <h2>Por favor, rellene el formulario de denuncia</h2>
            <form action="/reporte" method="post" enctype="multipart/form-data">
            <input type="date" name="fecha" placeholder="Fecha" required>
            <input type="text" maxlength="200" name="descripcion" placeholder="Descripción" required>
            <input type="hidden" name="n_apoyos" value=0  required>
            <input type="hidden" name="estatus" value="pendiente" placeholder="Estatus" required>
            <input type="hidden" name="n_denuncias" value="0" placeholder="Número de denuncias" required>
            <input type="text" maxlength="200" name="referencias" placeholder="Referencias" required>
            <input type="hidden" name="id_ciudadano" value="<%=session.id_ciudadano%>"  required>
            <input type="hidden" name="tipo_reporte" value="<%=tipo_reporte%>" placeholder="Tipo de reporte" required>
            <input type="hidden" name="latitud" value="19.6869083" required>
            <input type="hidden" name="longitud" value="-101.23794" required>
            <input type="hidden" name="id_dependencia"  value ="<%=dependencia%>" placeholder="ID de la dependencia" required>
            <input type="hidden" name="tabla" value="<%=tabla%>"required>               
            <%- inputsHTML%>
            <button type="submit">Guardar</button>
            </form>

        </div>
        </div>
    </div>
    </section>
    </article>
</section>



<%- include('partials/_footer')%>